footer{
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: #fcbf1e;
    margin-top: 3px;
    text-align: center;
    font-size: 1em;
    font-family: 'DM Mono', monospace;
    a{
        color: rebeccapurple;
        text-decoration: none;
    }
}

@media screen and (max-width:499px){
    footer{
        width: 112vw;
    }
}