header{
    height: 55vh;
    padding: 15% 0 0 0;
    text-align: center;
    background-image: url('../assets/travel.jpg');
    background-size: cover;
    color: #035aa6;
    background-attachment: fixed;
    background-repeat: no-repeat;
    h1{
        font-family: 'DM Mono', monospace;
        text-transform: uppercase;
        word-spacing: 5px;
        letter-spacing: 2px;
        font-size: 3em;
    }
    span{
        font-family: 'Raleway', sans-serif;
        word-spacing: 5px;
        font-weight: bold;
    }
}


@media screen and (max-width:1025px) and (min-width:500px){
    header{
        height: 20vh;
        background-size: contain;
        h1{
            font-size: 1.5em;
        }
        span{
            font-size: 10px;
        }
    }
}

@media screen and (max-width:499px){
    header{
        height: 30vh;
        width: 130vw;
        background-size: cover;
        background-position: left;
        margin-right: 0;
        h1{
            font-size: 1em;
        }
        span{
            font-size: 0.7em;
        }
    }
}